@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

@page {
  size: A4;
}

html {
  font-family: Arial, sans-serif;
  font-size: 10pt;
}

@media only print {
  .floating-button {
    display: none;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

article {
  position: relative;
}

/* button style */

.btn-lims {
  display: inline-block;
  background: lightgray;
  border: none;
  font-size: 1em;
  color: #222222;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn-lims:hover {
  color: #3c3c3c;
  opacity: 0.9;
}

.btn-lims-gradient {
  display: inline-block;
  background: none;
  border: none;
  font-size: 1em;
  background: #ffc400;
  background-image: linear-gradient(to right bottom, #fed136, #ffc428, #ffb71b, #ffa90d, #ff9b00);
  color: #222222;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn-lims-gradient:hover {
  color: #3c3c3c;
  opacity: 0.9;
}

button:focus {
  outline: none;
}

.justify-paragraf {
  text-align: justify;
  text-justify: inter-word;
}

.left-paragraf {
  text-align: left;
}

.cetakan-padding {
  padding: 1cm 1cm 1cm 1cm;
  /*dari word*/
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-bold {
  font-weight: bold;
}

.font-size-8 {
  font-size: 8pt;
}

.font-size-10 {
  font-size: 10pt;
}

.font-size-12 {
  font-size: 12pt;
}

table {
  border-spacing: 0;
  width: 100%;
}

table td,
table th {
  vertical-align: center;
}

.padding-td-small {
  padding: 3pt;
}

.padding-td-normal {
  padding: 6pt;
}

.padding-td-large {
  padding: 12pt;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 3pt;
}

.mb-2 {
  margin-bottom: 6pt;
}

.mb-3 {
  margin-bottom: 9pt;
}

.mb-4 {
  margin-bottom: 12pt;
}

.mb-5 {
  margin-bottom: 15pt;
}

.mb-6 {
  margin-bottom: 18pt;
}

.mb-7 {
  margin-bottom: 21pt;
}

.mb-8 {
  margin-bottom: 24pt;
}

.mb-9 {
  margin-bottom: 27pt;
}

.mb-10 {
  margin-bottom: 30pt;
}

.pl-1 {
  padding-left: 5pt;
}

hr {
  margin: 0;
}

.table-bordered,
.table-bordered th,
.table-bordered td {
  border: 1px solid black;
  border-collapse: collapse;
}

.table-bordered-outline {
  border: 1px solid black;
  border-collapse: collapse;
}

.table-bordered-horizontal {
  border: 1px solid black;
  border-collapse: collapse;
}

.table-bordered-horizontal tr {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-collapse: collapse;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

@media print {
  #btn-cetak {
    display: none;
  }
}

